/* === Variables del proyecto ===*/

$color-amarillo: #ffc72c;

$color-gris: #404040;

$color-gris-claro: rgb(216, 216, 216);

$padding-index-seccion-4-explicacion-760px: 30px;

$height-servicios-seccion-2-explicaciones: calc(220px - 2vw);

$height-servicios-seccion-2-explicaciones-480px: calc(180px - 2vw);

$height-servicios-seccion-2-explicaciones-1200px: 250px;